<button mat-button (click)="openCreateDialog()">Open dialog</button>


<table mat-table [dataSource]="userClientService.UsersClients$" class="mat-elevation-z8">

    <ng-container matColumnDef="NOMBRE">
        <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
        <td mat-cell *matCellDef="let element"> {{element.NOMBRE}} </td>
    </ng-container>

    <ng-container matColumnDef="APELLIDO">
        <th mat-header-cell *matHeaderCellDef> APELLIDO </th>
        <td mat-cell *matCellDef="let element"> {{element.APELLIDO}} </td>
    </ng-container>

    <ng-container matColumnDef="CARGO">
        <th mat-header-cell *matHeaderCellDef> CARGO </th>
        <td mat-cell *matCellDef="let element"> {{element.CARGO}} </td>
    </ng-container>

    <ng-container matColumnDef="USUARIO_DOMINIO">
        <th mat-header-cell *matHeaderCellDef> USUARIO DOMINIO </th>
        <td mat-cell *matCellDef="let element"> {{element.USUARIO_DOMINIO}} </td>
    </ng-container>

    <ng-container matColumnDef="CORREO">
        <th mat-header-cell *matHeaderCellDef> CORREO </th>
        <td mat-cell *matCellDef="let element"> {{element.CORREO}} </td>
    </ng-container>

    <ng-container matColumnDef="CC">
        <th mat-header-cell *matHeaderCellDef> CC </th>
        <td mat-cell *matCellDef="let element"> {{element.CC}} </td>
    </ng-container>

    <ng-container matColumnDef="TELEFONO">
        <th mat-header-cell *matHeaderCellDef> TELEFONO </th>
        <td mat-cell *matCellDef="let element"> {{element.TELEFONO}} </td>
    </ng-container>

    <ng-container matColumnDef="OPERACIONES">
        <th mat-header-cell *matHeaderCellDef> OPERACIONES </th>
        <td mat-cell *matCellDef="let element; let index=index">
            <button mat-icon-button color="primary"
                (click)="openDialogDelete(deleteTemplate, element.ID_USUARIO_CLIENTE)">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="openClientFormUpdate(element)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary"
                (click)="openAssingDevideform(assingDevice, element.ID_USUARIO_CLIENTE)"><mat-icon>add</mat-icon></button>
            <button mat-icon-button color="primary"
                (click)="openUserClientInfo(infoUserTemplate, element)"><mat-icon>info</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<ng-template #deleteTemplate>
    <div class="dialog-container">
        <h4 class="dialog-tittle">Confirmación de Eliminación</h4>
        <mat-dialog-content>
            <p>¿Está seguro de que desea eliminar este elemento? Esta acción no se puede deshacerrrrr.</p>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancelar</button>
            <button mat-button [mat-dialog-close]="true" color="warn" (click)="onDelete()">Eliminar</button>
        </mat-dialog-actions>
    </div>
</ng-template>


<ng-template #assingDevice>
    <div>
        <h4 class="dialog-tittle">Asignar equipo</h4>
        <mat-dialog-content>

        </mat-dialog-content>
        <mat-dialog-actions align="end">

        </mat-dialog-actions>
    </div>
</ng-template>


<ng-template #infoUserTemplate>
    <div>
        <h6 class="dialog-tittle">{{ userClientInfo?.EMPRESA+' - '+userClientInfo?.NOMBRE + ' ' +
            userClientInfo?.APELLIDO }}</h6>

        <mat-dialog-content class="dialog-content">

            <div class="assigDeviceDialogContent">

         

                <mat-form-field class="inputForSerial">
                        <mat-label>SN:</mat-label>
                        <input matInput (keyup)="applyFilterAssetsAssigUser($event)" placeholder="Ex. SINAPPTIC-000">
                    </mat-form-field>
                    <mat-form-field class="inputForSerial">
                        <input type="equipo"> 
                        <mat-select>
                            <mat-option>None</mat-option>
                            @for (asset of dataSourceFreeAsset.filteredData; track asset) {
                            <mat-option [value]="asset.ID_ACTIVO"
                                (click)="saveIdasset(asset.ID_ACTIVO)">{{asset.SERIAL}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                <button mat-icon-button color="primary" (click)="assingUserToAsset()">
                    <mat-icon>info</mat-icon></button>
            </div>
            <mat-divider></mat-divider>
            <br>
            <div class="userInfo">
                <p><strong>Nombre:</strong> {{ userClientInfo?.CARGO }}</p>
                <p><strong>Puesto:</strong> {{ userClientInfo?.CORREO }}</p>
                <p><strong>Correo:</strong> {{ userClientInfo?.USUARIO_DOMINIO }}</p>
                <p><strong>Teléfono:</strong> {{ userClientInfo?.TELEFONO }}</p>
            </div>

            <mat-divider></mat-divider>

            <div class="assetsContainer">
                <div class="assetCard" *ngFor="let asset of assetsByUser">
                    <p><strong>Nombre:</strong> {{ asset.NOMBRE_ACTIVO }}</p>
                    <p><strong>Serial:</strong> {{ asset.SERIAL }}</p>
                    <p><strong>Novedades:</strong> {{ asset.NOVEDADES }}</p>
                    <p><strong>Referencia:</strong> {{ asset.REFERENCIA }}</p>
                    <div class="buttonContainer">
                        <button mat-icon-button color="warn" (click)="undessingDevice(asset.ID_ACTIVO)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cerrar</button>
        </mat-dialog-actions>
    </div>
</ng-template>