.dialog-container
{
    width: 80vw !important;
    height: 400px; 
    max-width:  90vw; 
    max-height: 90vh;
    display: flex;
}

.mat-dialog-tittle{
    display: flex;
    width: 100%;
    justify-content: center;
}

.selectContainer{
    gap: 10px;
    display: flex;
    align-items: baseline;
}
.assetContainer{
    display: flex;
    flex-wrap: wrap;


}
.assetContent{
    width: 44%;
}